<template>
  <main id="About" class="container">
    <h1>About me</h1>
    <p>
      My name is João Melo and I'm a software developer from Lisbon, Portugal.
    </p>
    <p>
      I like to...
      <!-- <a href="https://gitlab.com/jacbmelo" title="GitLab">code</a>, 
      <a href="http://www.strava.com/athletes/4598721" title="Strava">run</a>, take 
      <a href="https://instagram.com/jacbmelo" title="Instagram">photos</a> and listen to 
      <a href="http://americanmary.com/" title="The National official website">The National</a> (and <a href="https://open.spotify.com/user/1166997301">other bands</a>).
      -->
    </p>

    <div class="row">
      <div class="col-sm">
        <a class="text-decoration-none" href="https://gitlab.com/jacbmelo" title="GitLab">
          <div class="text-center">
            <i class="fab fa-gitlab fa-5x"></i>
            <h2>Code</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>
      <div class="col-sm">
        <a class="text-decoration-none" href="http://www.strava.com/athletes/4598721" title="Strava">
          <div class="text-center">
            <i class="fab fa-strava fa-5x"></i>
            <h2>Run</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>
      <div class="col-sm">
        <a class="text-decoration-none" href="https://instagram.com/jacbmelo" title="Instagram">
          <div class="text-center">
            <i class="fab fa-instagram fa-5x"></i>
            <h2>Take photos</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>
      <div class="col-sm">
        <a class="text-decoration-none" href="https://open.spotify.com/user/1166997301">
          <div class="text-center">
            <i class="fab fa-spotify fa-5x"></i>
            <h2>Listen</h2>
          </div>
          <p>
            to <a href="http://americanmary.com/" title="The National official website">The National</a> (and other bands).
          </p>
        </a>
      </div>
    </div>
    <hr>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-sm">
        <a class="text-decoration-none" href="https://fb.me/jacbmelo" title="Facebook">
          <div class="text-center">
            <i class="fab fa-facebook fa-2x"></i>
            <h5>Facebook</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>
      <div class="col-sm">
        <a class="text-decoration-none" href="https://twitter.com/jacbmelo" title="Twitter">
          <div class="text-center">
            <i class="fab fa-twitter fa-2x"></i>
            <h5>Twitter</h5>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </a>
      </div>
    </div>
  </main>
</template>
