<template>
  <div id="home">
    <header class="jumbotron">
      <div class="row">
        <div class="col-sm">
          <h1 class="display-1"><span class="-bg-black -white">Hello!</span></h1>
          <h2>
            <span class="">I'm João. I design & build web applications.</span>
          </h2>
        </div>
        <!--<div class="col-sm-auto text-center">
          <img src="../../public/img/ibm-5150.png" width="256px" alt="IBM PC 5150"/>
        </div>-->
      </div>
    </header>

    <main class="container">
      <div class="row">
        <div class="col-sm">
          <blockquote class="blockquote">
            <p>"{{ randomQuote.quote }}"</p>
            <footer class="blockquote-footer">{{ randomQuote.source }}</footer>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">

        </div>
      </div>		
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src
import quotes from '@/data/quotes.json';

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {
  get randomQuote() {
    const q = quotes[Math.floor(Math.random() * quotes.length)];
    return q;
  }
}
</script>

<style scoped lang="scss">
.jumbotron {
  text-align: left;
  overflow: auto;
  background-size: cover;
}
</style>