<template>
  <div id="NotFound">
    <header class="jumbotron">
      <h1 class="display-1">:(</h1>
      <h2 class="-display-4">
        The page you requested was not found!
      </h2>
    </header>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class NotFound extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>