<template>
  <footer class="container-fluid sticky-bottom">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><strong><a href="https://gitlab.com/jacbmelo/jacbmelo.gitlab.io">GitLab</a></strong></li>
        </ul>
        <p>
          <small>
            Designed and built by <strong><a href="https://gitlab.com/jacbmelo" title="João Melo">@jacbmelo</a></strong> using
            <a href="https://vuejs.org/">Vue.js</a>,
            <a href="https://getbootstrap.com">Bootstrap</a> and
            <a href="https://fontawesome.com">Font Awesome</a>.
          </small>
        </p>
        <p>
          <small>Code licensed <a href="https://gitlab.com/jacbmelo/jacbmelo.gitlab.io/raw/master/LICENSE" title="MIT License">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" title="Attribution 3.0 Unported">CC BY 3.0</a>.</small>
        </p>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Footer extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
footer {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}
footer a {
  font-weight: bold;
  color: inherit!important;
}
</style>